/* Color Variables */
:root {
    --primaryColor: tan;
    --itemBackground: #f6f0e8;
}
/* Document CSS */
body, html {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body {
    background-color: var(--primaryColor);
    margin: 0;
    padding: 0;
}
h1 {
    text-align: center;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 45px;
    margin: .25em;
    height: 8vh;
}
.content {
    /* height: 100%;
    width: 100%; */
    /* margin: 0 auto;
    padding: 0; */
    margin: auto;
    width: 50vw;
    text-align: center;
    left: 50%;
}
#outsideoption {
    background-color: green;
    float: left;
    height: 90vh;
    max-width: 25vw;
}
#outsidegrid {
    background-color: blue;
    height: 90vh;
    max-width: 50vw;
    float: left;
}
#outsidemode {
    background-color: red;
    float: left;
    height: 90vh;
    max-width: 25vw;
}
.inline {
    display: inline-block;
}

/* Grid CSS */
#grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto;
    margin: 0;
    left: 0%;
    justify-content: center;
    padding: 1px;
}
.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid var(--primaryColor);
    padding: 0;
    font-size: 20px;
    text-align: center;
    margin: 0;
    height: 50px;
    width: 50px;
}
/* Column Borders CSS */
#grid-container .grid-item:nth-child(n):nth-last-child(9n){
    border-left: 5px var(--primaryColor) solid;
}
#grid-container .grid-item:nth-child(n):nth-last-child(9n+6){
    border-left: 4px var(--primaryColor)solid;
}
#grid-container .grid-item:nth-child(n):nth-last-child(9n+3){
    border-left: 4px var(--primaryColor) solid;
}
#grid-container .grid-item:nth-child(n):nth-last-child(9n+1){
    border-right: 5px var(--primaryColor) solid;
} */
/* Row Borders CSS */
#grid-container .grid-item:nth-child(n):nth-last-child(n+73){
    border-top: 5px var(--primaryColor) solid;
}
#grid-container .grid-item:nth-child(n+28):nth-last-child(n+46){
    border-top: 4px var(--primaryColor) solid;
}
#grid-container .grid-item:nth-child(n+55):nth-last-child(n+19){
    border-top: 4px var(--primaryColor) solid;
}
#grid-container .grid-item:nth-child(n+73):nth-last-child(n){
    border-bottom: 5px var(--primaryColor) solid;
}


/* Inputs CSS */
input {
    cursor: default;
}
input.txt-input {
    font-size: 25px;
    color: transparent;
    text-shadow: 0 0 0 #a87b00;
}
input.readonly {
    font-size: 25px;
    color: transparent;
    text-shadow: 0 0 0 rgb(83,62,45, 0.85);
}
input.pm-input {
    font-size: 10px;
    color: transparent;
    text-shadow: 0 0 0 #a87b00;
}
input:focus {
    outline: 3px #a87b00 solid;
}
.txt-input, .pm-input, .readonly {
    height: 50px;
    width: 50px; 
    padding: 0;
    border: 0;
    background-color:  #f6f0e8;
    outline: none;
    font-weight: bold;
    text-align: center;
}
.errors {
    background-color: rgba(255,0,0,0.4);
    height: 50px;
    width: 50px; 
    padding: 0;
    border: 0;
    outline: none;
    font-weight: bold;
    text-align: center;
}
input:invalid {
    background-color: green;
}
input::selection {
    background: transparent;
}