<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <script>

            // var arr = [];

            function focused(clickedId) {

            }

            // function readGrid() {
            //     for (i = 0; i < 81; i++) {
            //         if (document.getElementsByTagName('input')[i].value === "") {
            //             arr.push(0);
            //         }
            //         else {
            //             arr.push(parseInt(document.getElementsByTagName('input')[i].value));
            //         }
            //     }
            // }
            // function sendArray() {
            //         fetch('http://localhost:8000/topy', {
            //         method: 'POST',
            //         body: JSON.stringify(arr),
            //         headers: {
            //             'Content-Type': 'application/json'
            //         },
            //         mode: 'no-cors'
            //     }).then((res)=>console.log(res))
            // }
        </script>
        <style></style>
        {% block head %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>