{% extends 'base.html' %}

{% block head %}
<title>Sudoku Solver Input</title>
<script src="static/javascript/base.js" type="text/javascript"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

{% endblock %}
{% block body %}

<body onload="changeTheme()">
    <h1>Sudoku Solver Input</h1>
    <form action="/solution" method="POST" onsubmit="return validate()">
        <div id="content">

            <div id="outsideoption" class="inline">
                <div id="homesquare" onclick="location.href='/'"></div>
                <div id="optioncontainer">
                    <div id="changetheme" class="optiondivs">
                        <div onclick="themeOption()">Change Theme</div>
                    </div>

                    <div onclick="instructionsDisplay()" id="instructions" class="optiondivs">Instructions</div>

                    <div onclick="aboutDisplay()" id="about" class="optiondivs">About</div>
                </div>
            </div>

            <div id="outsidegrid" class="inline">
                <div id="instructionsdisplay">
                    <h3 id="top">How To Play Sudoku</h3>
                    <p>The grid is divided into nine blocks, each containing nine squares. Each of the nine blocks has
                        to contain all the numbers 1-9 within its squares. Each number can only appear once in a row,
                        column, or block.</p>
                    <h3>Features</h3>
                    <ul>
                        <li>Change Themes: Click "Change Themes" and choose between dark, tan, light, and retro theme
                            (from left to right)</li>
                        <li>Toggling Options</li>

                        <ul>
                            <li>Auto delete pencilmarks when inputting a normal number</li>
                            <li>Highlight all of the same normal/pencilmarked numbers</li>
                            <li>Highlight the respective row, column, and block</li>
                        </ul>
                        <li>Input Options</li>
                        <ul>
                            <li>Press keyboard numbers or click numbers on the keypad</li>
                            <li>Pencilmarks mode will input notes in the cells (double input the same number to delete)
                            </li>
                            <li>Color different cells on the grid (center color is the default)</li>
                        </ul>
                        <li>Multiple Selections</li>
                        <ul>
                            <li>Hold <i>Shift</i> and use arrow keys or click different cells</li>
                            <li>Drag your cursor around</li>
                            <li><i>"Control A"</i> to select all cells</li>
                            <li>To unselect, (1) click on any cell, or (2) press <i>Escape</i></li>
                        </ul>
                        <li>Shortcuts</li>
                        <ul>
                            <li><i>"Control Z"</i> to undo previous changes</li>
                            <li>Click <i>Space</i> to change between "Normal", "Pencilmarks", and "Colors" mode</li>
                        </ul>

                    </ul>
                    <p></p>
                </div>
                <div id="aboutdisplay">
                    <h3 id="top">About</h3>
                </div>
                <div id="grid-container">
                    {% for i in range(9) %}
                    {% for j in range(9) %}
                    <div class="grid-item move">
                        <input id="{{ i*9 + j }}" name="{{ i*9 + j }}" type="num" maxlength="1" class="txt-input"
                            min="1" onkeydown="return ( event.ctrlKey || event.altKey 
                    || (47<event.keyCode && event.keyCode<58 && event.shiftKey==false) 
                    || (95<event.keyCode && event.keyCode<106)
                    || (event.keyCode==8) || (event.keyCode==9) 
                    || (event.keyCode>34 && event.keyCode<40) 
                    || (event.keyCode==46) )" autocomplete="off">
                    </div>
                    {% endfor %}
                    {% endfor %}
                </div>
                <div class="allbuttonscontainer">
                    <div class="buttoncontainers">
                        <button id="solve" type="submit" class="buttons">Solve</button>
                    </div>
                    <div class="buttoncontainers">
                        <button id="clear" onclick="window.location.reload()" type="buttons"
                            class="buttons">Clear</button>
                    </div>
                </div>
            </div>
            <div id="spacefiller" style="width: 226px; float: left;"></div>
        </div>
    </form>
</body>
{% endblock %}