{% extends 'base.html' %}

{% block head %}
<title>Sudoku Solvers Menu</title>
{% endblock %}

{% block body %}

<body>
    <h1>Sudoku Solvers</h1>
    <div class="allbuttonscontainer">
        <div class="buttoncontainers">
            <button class="menubutton" onclick="location.href='/input_classic_play'">Play a Sudoku</button>
        </div>
        <div class="buttoncontainers">
            <button class="menubutton" onclick="location.href='/input_classic_solve'">Solve a Sudoku</button>
        </div>
    </div>
</body>
{% endblock %}