{% extends 'base.html' %}

{% block head %}
<title>Sudoku Menu</title>
<script src="static/javascript/menu.js" type="text/javascript"></script>
{% endblock %}

{% block body %}
<body id="body" class="" onload="changeTheme()">
    <h1>Sudoku Menu</h1>
    <div id="content">
        <div id="outsideplay" class="inline">
            <div style="justify-content: right;">
                <div id="playimage" onclick="playOption()"></div>

                <div id="menuinstructionsdisplay">
                    <div class="header">How To Play Sudoku</div>
                    <p>The grid is divided into nine blocks, each containing nine squares. Each of the nine blocks has
                        to contain all the numbers 1-9 within its squares. Each number can only appear once in a row,
                        column, or block.</p>

                    <div class="header">Features</div>

                    <ul>
                        <li>Click on "Play a Sudoku" to either play a Sudoku of a certain difficulty (easy, medium, hard, or expert) or input your own Sudoku</li>
                        <li>Click on "Solve a Sudoku" to enter the Sudoku Solver, which allows you to input any Sudoku and see the finished solution</li>
                        <li>Change Theme: Choose between dark, tan, light, and retro themes</li>
                    </ul>
                </div>
                
                <div id="playcontainer">
                    <button id="menuplay" class="menubutton" onclick="playOption()">Play a Sudoku</button>
                </div>
            </div>
        </div>

        <div id="outsidemenuoption" class="inline">
            <div id="optioncontainer">
                <div id="changetheme" class="optiondivs">
                    <div onclick="themeOption()">Change Theme</div>
                </div>

                <div onclick="messagesDisplay()" id="messages" class="optiondivs">
                    Instructions<br>and About Us
                </div>
            </div>
        </div>
        
        <div id="outsidesolve" class="inline">
                <div id="solveimage" onclick="location.href='/input_solve'"></div>
                <div id="menuaboutdisplay">
                    <div class="header">About Us</div>
                    <p>Hello! This website was co-created and designed from scratch by Ayush Garg and Suchit Sharma in the summer of 2020.</p>
                    <p>As Sudoku fanatics ourselves, we sought to create a website that combines all of our favorite features when completing challenging Sudokus. We tried to incorporate functionality that promotes ease of movement throughout the Sudoku, options to increase speed while solving, and aesthetic characteristics to promote visual appeal.</p>
                    <p>
                        <p><a href="https://github.com/ssharma919/Sudoku_app" target="_blank">View our GitHub repository here</a></p>
                        <p>Check out some of our other projects on GitHub</p>
                        <span style="margin-left: 30px; margin-right: 75px;">Ayush Garg: <a href="https://github.com/ayushgarg-ag" target="_blank">GitHub</a></span>
                            Suchit Sharma: <a href="https://github.com/ssharma919" target="_blank">GitHub</a>
                            
                        <p>Learn more about us on our Linkedin pages</p>
                        <span style="margin-left: 30px; margin-right: 66px;">Ayush Garg: <a href="https://www.linkedin.com/in/ayush-garg-ag/" target="_blank">LinkedIn</a></span>
                            Suchit Sharma: <a href="https://www.linkedin.com/in/suchit-sharma-988247155/" target="_blank">LinkedIn</a>
                    </p>
                    <div style="height: 6px;"></div>
                    
                    <p>
                        We encourage you to input a Sudoku and try some of the features that will hopefully improve your
                        Sudoku experience as it
                        has for us!
                    </p>
                    
                    <p>
                        For any questions, reporting of bugs, or requests for additional features, email us at <a
                            href="mailto: agss.projects@gmail.com?subject=Sudoku App Feedback">agss.projects@gmail.com</a>.
                    </p>
                </div>
                <button id="menusolve" class="menubutton" onclick="location.href='/input_solve'">Solve a Sudoku</button>
        </div>
    </div>
</body>
{% endblock %}