{% extends 'base.html' %}

{% block head %}
<title>Sudoku Menu</title>
<script src="static/javascript/menu.js" type="text/javascript"></script>
{% endblock %}

{% block body %}

<body onload="changeTheme()">
    <h1>Sudoku Solvers</h1>
    <div class="allbuttonscontainer">
        <div class="buttoncontainers">
            <button class="menubutton" onclick="location.href='/input_play'">Play a Sudoku</button>
        </div>
        <div class="buttoncontainers">
            <button class="menubutton" onclick="location.href='/input_solve'">Solve a Sudoku</button>
        </div>

        <div id="outsideoption" class="inline">
            <div id="optioncontainer">
                <div id="changetheme" class="optiondivs">
                    <div onclick="themeOption()">Change Theme</div>
                </div>

                <div onclick="instructionsDisplay()" id="instructions" class="optiondivs">Instructions</div>

                <div onclick="showAbout()" id="about" class="optiondivs">About</div>
            </div>
        </div>

    </div>
</body>
{% endblock %}