{% extends 'base.html' %}
{% block body %}
<body>
<div class="content">
    <h1 style="text-align: center">Sudoku Solver</h1>
    <div id="grid-container" class="grid-container">
            {% for i in range(9) %}
            {% for j in range(9) %}
            <div id="{{ i*9 + j }}" onclick="focused(this.id)" class="grid-item">
                <input name="{{ i*9 + j }}" type="num" maxlength="1" class="txt-input" min="1"
                    value="{{ solved_array[i][j] }}" readonly>
            </div>
            {% endfor %}
            {% endfor %}
    </div>
    <div id="backcenter">
            <button id = "back" onclick="location.href='/'">Menu</button>
    </div>

</div>
</div>


</body>
{% endblock %}